a, h1, h2, h3 {
    margin: 5px;
}

body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}

input{
    margin: 10px;
}

thead tr{
    font-size: 120%;
    font-weight: bold;
    background-color: #c7c4c6;
}

/**
validator
 */

label.error {
    color: red;
    margin-left: 5px;
}

input.error {
    border: 1px dotted red;
}